@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
}

@layer components {
  .base-button {
    @apply rounded-xl py-2 px-4 text-sm;
  }
  .base-button:disabled {
    @apply opacity-50;
  }
  .btn-primary {
    @apply base-button border border-orange-400 bg-orange-100;
  }
  .btn-green {
    @apply base-button border border-green-500 bg-green-100;
  }
  .btn-gray {
    @apply base-button border border-gray-500 bg-gray-100;
  }

  .modal-wrapper {
    @apply flex items-center justify-center fixed top-0 left-0 right-0 bottom-0 h-screen w-screen bg-[#00000077] z-50;
  }
  .modal-container {
    @apply flex flex-col bg-white p-3 rounded-xl max-w-xl w-[90vw] max-h-[900px];
  }

  .tasks-table {
    @apply min-w-full bg-white;
  }
  .tasks-table thead {
    @apply bg-orange-300 text-gray-600 uppercase text-sm leading-normal;
  }
  .tasks-table th,
  .tasks-table td {
    @apply py-3 px-6 text-left;
  }

  .form-input-wrapper {
    @apply relative bg-white w-full rounded-md border border-gray-300 px-3;
  }
  .form-input-wrapper input {
    @apply w-full bg-transparent outline-none border-none text-base text-gray-800 py-2 resize-none placeholder:text-gray-700;
    font-size: 15px;
  }
  .form-input-error {
    @apply text-sm text-red-600;
  }

  .dropdown {
    @apply absolute left-0 z-10 px-3 py-1 min-w-52 max-h-80 overflow-y-auto bg-white mt-1 rounded-lg shadow-xl border;
  }
  .dropdown-item {
    @apply flex items-center text-sm text-gray-800 font-medium p-3 overflow-hidden bg-white cursor-pointer border border-white first:rounded-t-lg last:rounded-b-lg hover:text-orange-400;
  }
  .dropdown-item:hover svg {
    @apply fill-orange-400;
  }
  .dropdown-item.selected {
    @apply text-orange-400 font-medium;
  }
}

@layer utilities {
  .overflow-ellipsis {
    @apply whitespace-nowrap overflow-hidden text-ellipsis;
  }
}
